body {
  margin: 20%;
  width: 50%;
  height: 75%;
}
form {
  display: grid;
  margin: auto;
  height: 300px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% 1fr 1fr 1fr;
}
#first-number-label {
  grid-area: 1/ 1/ span 1/ span 2;
  text-align: center;

}
label, input, #result {
  font-size: 23px;
}
button {
  font-size: 20px; 
}
::placeholder {
  color: blue;
  font-size: 15px;
}
#second-number-label {
  grid-area: 1/ 4/ span 1/ span 2;
  text-align: center;
}
#first-Number {
  grid-area: 2/ 1/ span 1/ span 2;
  text-align:center;
}
#second-Number {
  grid-area: 2/ 4/ span 1/ span 2;
  text-align: center;
}
#addition {
  grid-area: 3/ 1/ span 1/ span 1;
}
#subtraction {
  grid-area: 3/ 2/ span 1/ span 1;
}
#multiplication {
  grid-area: 3/ 3/ span 1/ span 1;
}
#division {
  grid-area: 3/ 4/ span 1/ span 1;
}
#modulus {
  grid-area: 3/ 5/ span 1/ span 1;
}

#equal {
  grid-area: 4/ 2/ span 1/ span 1;
}

#reset {
  grid-area: 4/ 4/ span 1/ span 1;
}
#result{
  width: 200px;
  height: 50px;
  border: solid red 5px;
  margin: auto;
  text-align: center; 
}